/*css reset*/
*{ margin: 0; padding: 0; box-sizing: border-box; }
ul,ol{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

/* page styles */

section.summary{
    height: 100vh; /* 100vh = viewport height*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.summary img.avatar{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
section.summary .text{
    line-height: 1.5;
    text-align: center;
}

section.works{
    height: 100vh;
    background: rgb(244,244,244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.works img{
    max-width: 200px;
}
section.works .imageWrapper{
    padding: 10px 10px 3px;
    background: white;
    text-align: right;
}
section.works > ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: space-between;
}

section.works > ul h3{
    font-weight: normal;
    font-size: 16px;
    padding-left: 10px;
    margin: 8px 0;
}

section.works > h2, section.contacts > h2{
    font-size: 32px;
    margin-bottom: 1em;
}


section.contacts {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2;
}

section.contacts > dl{
    display: flex;
    flex-wrap: wrap;
    width: 20em;
}
section.contacts > dl a{
    text-decoration: underline;
}
section.contacts > dl > dt{
    width: 5em;
}
section.contacts > dl > dd{
    width: 15em;
}
